@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');

$bg-colorW: #FFFFFF;
$bg-colorP: #f9bffd;
// $font-color: #563a43;
// $font: 'Fraunces', serif;

@mixin combination($font1, $font2, $color1){
    font-family: $font1, $font2;
    color:$color1;
}

body{
    background-color: $bg-colorW;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body header{
    margin: 0;
    background-color:$bg-colorP;
    min-height: 4em;
    width: 100%;
}

header h1{
    @include combination('Fraunces', serif, #563a43);
    margin: 0 auto;
    // color: $font-color;
    padding-left: 1em;
    // font-family: $font;
    font-size: 4em;
    font-weight: bold;
    float: left;
}

#mainMenu ul{
    float: right;
    list-style: none;
    margin-right: 2em;
}

#mainMenu ul li{
    float: left;
}

#mainMenu ul li {
    transition: 0.3s ease;
    background: $bg-colorP;
    color: $bg-colorW;
    border-top: 4px solid $bg-colorP;
    border-bottom: 4px solid $bg-colorP;
  }

#mainMenu ul li:hover {
    border-top: 4px solid $bg-colorW;
    border-bottom: 4px solid $bg-colorW;
  }

#mainMenu li a{
    @include combination('Fraunces', serif, #563a43);
    // font-family: $font;
    display: inline-block;
    text-decoration: none;
    // color: $font-color;
    min-width: 10em;
    padding: 1em;
    text-align: center;
} 

body footer{
    min-height: 5em;
    background-color:$bg-colorP;
}

footer .container{
    padding: 1em;
}

footer h4{
    @include combination('Fraunces', serif, #563a43);
    // font-family: $font;
    font-size: 1em;
    // color:$font-color;
    text-align: center;
}

#main #headIMG{
    width: 100%;
    height: 40em;
    display: block;
}

body header::after, #main::after{
    content: "";
    display: block;
    clear:both;
}

#main{
    min-height: 30em;
}